body {
    margin: 0px;
    font-family: sans-serif;
}

.info {
    margin: 10px;
}

.topbar {
    background-image: linear-gradient(blue,darkblue);
    padding: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.topbar a {
    color: white;
    padding-left: 10px;
    text-decoration: none;
 }
